.form-container{
    background-color: #DEE2E6;
    height: 460px;
    width: 345px;
    
    /* text-align: center; */
    padding: 5px;
    border-radius: 10px;
    

}
.text-area{
    width: 310px;
    height: 265px;
    /* overflow-y: scroll; */
    border-radius: 5px;
    
   
}
.quantity{
    width: 305px;
    padding: 5px;
    border-radius: 10px;
    
}
.button{
    margin-top: 20px;
}